*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #222;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  color: #444;
  font-family: 'Staatliches', sans-serif;
  font-size: 80px;
  letter-spacing: 10px;
  animation: light 5s linear infinite;
}

@keyframes light
{
  0%{
    color: #444;
    text-shadow: none;
  }
  90%{
    color: #444;
    text-shadow: none;
  }
  100%{
    color: #00BCF2;
    text-shadow: 0 0 20px rgba(0, 188, 242, 0.8)
  }
}

ul li:nth-child(1) 
{
	animation-delay: 0s
}

ul li:nth-child(2) 
{
	animation-delay: 0.5s
}

ul li:nth-child(3) 
{
	animation-delay: 1s
}

ul li:nth-child(4) 
{
	animation-delay: 1.5s
}

ul li:nth-child(5) 
{
	animation-delay: 2s
}

ul li:nth-child(6) 
{
	animation-delay: 2.5s
}

ul li:nth-child(7) 
{
	animation-delay: 3s
}

ul li:nth-child(8) 
{
	animation-delay: 3.5s
}
ul li:nth-child(9) 
{
	animation-delay: 4s
}
ul li:nth-child(10) 
{
	animation-delay: 4.5s
}