body{
  background: #222;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 300px;
  height: 300px;
  position: relative;
}

span{
  background-color: #EEB902;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: move 3s infinite;
}

@keyframes move{
  0%{
    top: 0;
    left: 0;
  }
  33.3%{
    top: 0;
    left: 60%;
  }
  66.6%{
    top: 60%;
    left: 30%;
  }
  100%{
    top: 0;
    left: 0;
  }
}

span:nth-child(1){
  animation-delay: 0;
}

span:nth-child(2){
  animation-delay: 1s;
}

span:nth-child(3){
  animation-delay: 2s;
}
