*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2E2C2F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul{
  display: flex;
  list-style: none;
}

li{
  font-family: 'Russo One', sans-serif;
  font-size: 104px;
  color: #eee;
  animation: load 3.5s ease-in-out infinite;
  text-transform: lowercase;
  opacity: 0;
}

@keyframes load{
  0%{
    transform: translate(0px, 0px);
    opacity: 0;
  }
  50%{
    transform: translate(0px, -52px);
    opacity: 1;
  }
  100%{
    transform: translate(0px, 0px);
    opacity: 0;
  }  
}

ul li:nth-child(1)
{
    animation-delay: 0s;
}

ul li:nth-child(2)
{
    animation-delay: 0.3s;
}

ul li:nth-child(3)
{
    animation-delay: 0.6s;
}

ul li:nth-child(4)
{
    animation-delay: 0.9s;
}

ul li:nth-child(5)
{
    animation-delay: 1.2s;
}

ul li:nth-child(6)
{
    animation-delay: 1.5s;
}

ul li:nth-child(7)
{
    animation-delay: 1.8s;
}

ul li:nth-child(8)
{
    animation-delay: 2.1s;
}

ul li:nth-child(9)
{
    animation-delay: 2.4s;
}

ul li:nth-child(10)
{
    animation-delay: 2.7s;
}