@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(https://images.unsplash.com/photo-1579803815615-1203fb5a2e9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=850&q=80);
  /* Picture from Unsplash */
  display: flex;
  height: 100vh;
  width: 100%;
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  transition: all .6s;
  -webkit-transition: 0.6s;
  width: 100%;
  height: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#menu-overlay ul {
  position: relative;
}

#menu-overlay ul li {
  position: relative;
  line-style: none;
  text-align: center;
  display: block;
}

#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 3.5em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

#menu-overlay ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ff0;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: .5s transform;
}

#menu-overlay ul li a:hover::before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition:  .5s transform;
}

#toggle {
  visibility: hidden;
  z-index: 1;
}

label,
label::before,
label::after {
  position: absolute;
  width: 50px;
  height: 7.5px;
  border-radius: 5px;
  background-color: #ff0;
  transition: all .6s;
  -webkit-transition: 0.6s;
}

label {
  cursor: pointer;
  top: 10%;
  left: 10%;
  margin-left: -50px;
  margin-top: -1px;
  z-index: 2;
}

label::before {
  content: "";
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
}

label::after {
  content: "";
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
}

#toggle:checked + label {
  width: 0px;
}

#toggle:checked + label::before {
  transform: rotate(45deg) translate(0px);
  -webkit-transform: rotate(45deg) translate(0px);
}

#toggle:checked + label::after{
  transform: rotate(-45deg) translate(0px);
  -webkit-transform: rotate(-45deg) translate(0px);
}

#toggle:checked ~ #menu-overlay{
  height: 100%;
  border-radius: 0;
}