body {
  margin: 0 52px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#9bdfff, #009be4);
/*   background: radial-gradient(#FFAffA, #F67DD7); */
/*   background: radial-gradient(#D9FF9F, #8FC93A); */
/*      background: radial-gradient(#FFD3AF, #E18335);  */
}

.infinite {
  position: relative;
  width: 800px;
  height: 160px;
  background: #525252;
  transform-origin: bottom;
  transform-style: preseve-3d;
  transform: perspective(500px) rotateX(30deg);
}

.infinite::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #fff 0%, #fff 70%, #525252 70%, #525252 100%);
  background-size: 120px;
  animation: animate 0.5s linear infinite;
}

.infinite::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #333;
  bottom: -47.5px;
  transform-origin: top;
  transform: perspective(500px) rotateX(-35deg);
}

.shadow{
  position: absolute;
  bottom: -93px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  background: linear-gradient(#000, transparent);
  width: 95%;
  opacity: .5;
}

@keyframes animate {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: -120px;
  }
}

@media(max-width: 480px){
  .infinite {
  position: relative;
  width: 400px;
  height: 80px;
  background: #525252;
  transform-origin: bottom;
  transform-style: preseve-3d;
  transform: perspective(250px) rotateX(30deg);
  }

  .infinite::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #fff 0%, #fff 70%, #525252 70%, #525252 100%);
    background-size: 60px;
    animation: animate 0.5s linear infinite;
  }

  .infinite::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #333;
    bottom: -22.5px;
    transform-origin: top;
    transform: perspective(250px) rotateX(-35deg);
  }

  .shadow{
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    background: linear-gradient(#000, transparent);
    width: 95%;
    opacity: .5;
  }

  @keyframes animate {
    0%{
      background-position: 0px;
    }
    100%{
      background-position: -60px;
    }
  }
}