* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #09A129;
  font-family: 'Ubuntu', sans-serif;
  font-size: 104px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #09A122,
    
               5px 100px 50px rgba(0, 0, 0,.35),
               0px 100px 50px rgba(0, 0, 0,.35),
              -5px 100px 50px rgba(0, 0, 0,.35)                    ;
  animation: floating 5s linear infinite;
  animation-direction: alternate;

}

@keyframes floating{
  0%{
    transform: rotate(3deg)
  }
  50%{
    transform: rotate(0deg) translateY(5px);
    }
  100%{
    transform: rotate(-3deg)
  }
}