@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  background-color: #151515;
  color: #d8d8d8;
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 000;
  opacity: 0.85;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

strong {
  color: #F34234;
  font-family: 'Monoton', sans-serif;
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
}

h1,
h3,
p {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff;
}

h3 span {
  text-transform: capitalize;
}

p {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: auto;
  position: relative;
  padding: 40px 64px 40px 0;
}

.roll-up {
  overflow: hidden;
  position: relative;
}

.roll-up > span {
  display: inline-block;
  position: relative;
  text-shadow: 2px 2px 2px black;
}

.roll-up > span:nth-child(1) {
  transition-delay: 0.03s;
}

.roll-up > span:nth-child(2) {
  transition-delay: 0.06s;
}

.roll-up > span:nth-child(3) {
  transition-delay: 0.09s;
}

.roll-up > span:nth-child(4) {
  transition-delay: 0.12s;
}

.roll-up > span:nth-child(5) {
  transition-delay: 0.15s;
}

.roll-up > span:nth-child(6) {
  transition-delay: 0.18s;
}

.roll-up > span:nth-child(7) {
  transition-delay: 0.21s;
}

.roll-up > span > span {
  display: inline-block;
  transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
  transition-delay: inherit;
}

.roll-up > span > span:nth-child(1) {
  position: relative;
}

.roll-up > span > span:nth-child(1) {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  color: #F34213;
}

.text-reveal {
  position: relative;
  overflow: hidden;
}

.text-reveal span {
  display: block;
  transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s;
}

.play-button {
  fill: #fff;
  display: inline-block;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.play-button svh {
  overflow: visible;
}

.play-button .polygon {
  fill: #F34213;
  transition: transform 0.5s, fill 0.5s;
  transform-origin: 50% 50%;
}

.card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 200px;
  padding: 20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  cursor: pointer;
  margin: 30px 0;
  align-self: center;
  justify-self: center;
  transition: .3s ease-in-out;
}

.card:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.card .card-content {
  z-index: 1;
}

.card .card-content .card-content-description {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -80px;
  text-align: left;
  max-width: 175px;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .play-button {
  transform: scale(1.3);
}
.card:hover .play-button .polygon {
  transform: translateZ(0px) rotate(90deg);
  fill: #F34234;
}

.card:hover .roll-up > span > span:nth-child(1) {
  transform: translateY(0%);
}

.card:hover .roll-up > span > span:nth-child(2) {
  transform: translateY(-120%);
}

.card .text-reveal > span:nth-child(2) {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  text-shadow: 2px 2px 2px black;
}

.card .text-reveal > span:nth-child(2) > span,
.card .text-reveal > span:nth-child(2) > span > span {
  opacity: 0;
}

.card:hover .text-reveal > span:nth-child(2) > span,
.card:hover .text-reveal > span:nth-child(2) > span > span {
  opacity: 1;
}

@media(max-width: 1080px) {
 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 80px 20px;
} 
  
.card .card-content .card-content-description {
  position: absolute;
  bottom: 20px;
  right: -40px;
  margin-right: -20px;
  text-align: left;
  max-width: 175px;
}
}

@media(max-width: 680px){
 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 80px 20px;
}
  .card {
    width: 240px;
  }
  .card .card-content .card-content-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
  text-align: left;
  max-width: 175px;
} 
  .play-button {
  fill: #fff;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.5s;
}
  
.card .text-reveal > span:nth-child(2) > span,
.card .text-reveal > span:nth-child(2) > span > span {
  opacity: 1;
}
}